<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902229451052-lrq8t759vr62vnkpi1f4u5d0bsd71nts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902229451052-lrq8t759vr62vnkpi1f4u5d0bsd71nts</string>
	<key>API_KEY</key>
	<string>AIzaSyCFHPixOXiFAxvO9ZnLuI5sMQjGWkaHcdU</string>
	<key>GCM_SENDER_ID</key>
	<string>902229451052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2210a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2210a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902229451052:ios:31e2bc938ee521381ecc89</string>
</dict>
</plist>